* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Start header */
.header {
  background-color: white;
  height: 100px;
  padding: 26px 200px;
  margin-bottom: 20px;
}
.Logo {
  text-decoration: none;
  font-size: 28px;
  text-align: center;
}
.Logo *{
  float: left;
  overflow: hidden;
  margin:3px 3px;
  text-align: center;
}

.header_navbar i {
  width: 36px;
  height: 36px;
  line-height: 33px;
  background-color: hsl(211.71deg 100% 13.73%);
  border-radius: 50%;
  color: hsl(47.28deg 99.21% 49.41%);
  font-size: 15px;
}
.Navbar_item {
  margin: 15px;
}
.Navbar_item a {
  margin: 0px 1cqh;
  text-decoration: none;
  color: black;
}
/* End Header */

/* Start banner */
.banner {
  /* background-image: url(./images/2.jpg);
    height: 600px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; */
  /* width: 100%; */
  height: 1000px;
  background: url(./images/2.jpg) no-repeat top;
  background-size: cover;
  background-position: center;
}
/*  */
.wellcome_desc .content_welcome {
  width: 50%;
  padding: 80px 200px;
}
.wellcome_desc * {
  float: left;
  padding: 0 auto;
}
.content_welcome * {
  margin-bottom: 20px;
}
.content_image {
  width: 50%;
  padding: 83px;
}
.content_image img {
  height: 350px;
  width: 600px;
}
.content_welcome button {
  padding: 13px 30px;
  color: black;
  background-color: hsl(47.43deg 100% 49.61%);
  border: none;
  border-radius: 5px;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: bolder;
}
.clear {
  clear: both;
}
/* Start number_desc */

.number_desc {
  background-color: hsla(0, 0%, 96%, 0.603);
  height: 200px;
  padding: 53px 220px;
  text-align: center;
}
.number_desc * {
  float: left;
}
.number_container {
  width: 25%;
  margin-top: 30px;
  padding: 0 0;
}
.number_container * {
  float: left;
  padding-right: 10px;
}
.number_container h1 {
  font-weight: 600;
  font-size: 50px;
}
.number_container .content_of_numberitem {
  font-size: 20px;
  font-weight: 200;
  padding-top: 6px;
}
/* Start subject */

.subject {
  height: 400px;
  padding: 50px 50px;
}
.subject_container {
  margin: auto;
  width: 75%;
}
.subject_info {
  background-color: rgb(0 33 70);
  width: 200px;
  height: 100px;
  text-align: center;
  padding-top: 30px;
  color: white;
  border-radius: 4px;
}
.subject_item {
  float: left;
  width: 25%;
  padding: 20px 20px;
}
.subject_info * {
  margin-bottom: 10px;
}
/* Start post */

.post {
  margin-top: 20px;
  overflow: hidden;
  background-color: hsl(0deg 0% 96.47%);
}

.post_container {
  margin: auto 190px;
}

.post_item {
  width: calc(50% - 90px);
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.post_content {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}

.post_content .content {
  margin-bottom: 15px;
  overflow: hidden;
}
.post_content {
  background-color: white;
  width: 600px;
}
.div_postimg {
  width: 30%;
  float: left;
}

.div_postimg img {
  max-width: 100%;
}

.div_postct {
  width: 70%;
  float: left;
  padding-left: 15px;
}

.button_post {
  clear: both;
  text-align: center;
  margin-top: 20px;
}

.button_post button {
  background-color: rgb(253, 200, 0);
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bolder;
  border-radius: 2px;
}
hr {
  margin-top: 5px;
  color: hsl(0deg 0% 93.33%);
}
.button_post button:hover {
  background-color: rgb(187, 151, 22);
}
.button_post {
  width: 600px;
  text-align: end;
}
.latest_post,
.upcoming_event {
  width: calc(50% - 60px);
  float: left;
  font-weight: bolder;
}
.post_header {
  margin: 50px 100px;
}
.post_header .latest_post {
  padding-left: 100px;
}
.post_header .upcoming_event {
  padding-right: 60px;
}
.div_postct * {
  margin-top: 7px;
}
.div_postct .date {
  color: grey;
}
.card {
  width: 90%;
  text-align: center;

}
.div_postdate{
  float: left;
  height: 180px;
  width: 25%;

}
.card__top {
  background-color: rgb(253 200 0);
  padding: 20px;
  border-radius: 10px 10px 0 0;
  height: 100px;
  color: black;
  font-weight: bolder;
}
.card__top *{
  margin-top: 6px;
  font-size: x-large;
}
.card__bottom {
  background-color: rgb(0 33 70);
  padding: 10px 20px;
  border-radius: 0 0 10px 10px;
  color: white;
}
.div_postct .date_place{
  color: rgb(25 55 88);
  font-weight: bolder;
}
.clear {
  clear: both;
}
